---
  import { getDataByType } from '../../lib/prismic.js'
  const res = await getDataByType('footer', { lang: Astro.props.lang })
  const [result] = res.results

  const footer = result.data
---

<footer class="break-container">
  <header>
    <svg viewBox="0 0 75 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6.30353 12.4756C5.90047 12.7083 5.40388 12.7083 5.00082 12.4756L0.651354 9.96445C0.248295 9.73175 0 9.30169 0 8.83627V3.81394C0 3.34853 0.248295 2.91847 0.651354 2.68576L5.00082 0.1746C5.40388 -0.0581064 5.90047 -0.0581064 6.30353 0.1746L10.653 2.68576C11.0561 2.91847 11.3043 3.34853 11.3043 3.81394V8.83627C11.3043 9.30169 11.0561 9.73175 10.653 9.96445L6.30353 12.4756ZM6.30353 10.8603C5.90047 11.093 5.40388 11.093 5.00082 10.8603L2.0503 9.15677C1.64724 8.92407 1.39894 8.49401 1.39894 8.02859V4.62162C1.39894 4.15621 1.64724 3.72615 2.0503 3.49344L5.00082 1.78996C5.40388 1.55725 5.90047 1.55725 6.30353 1.78996L9.25405 3.49344C9.65711 3.72615 9.90541 4.15621 9.90541 4.62162V8.02859C9.90541 8.49401 9.65711 8.92407 9.25405 9.15677L6.30353 10.8603Z"
      />
      <path
        d="M5.00082 9.55755C5.40388 9.79026 5.90047 9.79026 6.30353 9.55755L8.12587 8.50542C8.52893 8.27271 8.77723 7.84265 8.77723 7.37724V5.27298C8.77723 4.80756 8.52893 4.3775 8.12587 4.1448L6.30353 3.09267C5.90047 2.85996 5.40388 2.85996 5.00082 3.09267L3.17847 4.1448C2.77541 4.3775 2.52712 4.80756 2.52712 5.27298V7.37724C2.52712 7.84265 2.77541 8.27271 3.17847 8.50542L5.00082 9.55755Z"
      />
      <path
        d="M18.5461 11.169C17.8226 11.169 17.2869 11.0229 16.9391 10.7307C16.5913 10.4316 16.4174 9.98986 16.4174 9.40551V7.63159H15.3217V5.85768H15.7704C16.0556 5.85768 16.2748 5.78116 16.4278 5.62812C16.5809 5.47507 16.6574 5.25594 16.6574 4.97072V4.60551H18.4V5.85768H19.9652V7.63159H18.4V8.88377C18.4 9.05768 18.4452 9.17942 18.5356 9.24899C18.6261 9.31159 18.7896 9.3429 19.0261 9.3429C19.2904 9.3429 19.6035 9.32899 19.9652 9.30116V11.0751C19.4365 11.1377 18.9635 11.169 18.5461 11.169ZM22.836 11.1794C22.2795 11.1794 21.7786 11.0646 21.3334 10.8351C20.8882 10.5986 20.5403 10.2751 20.2899 9.86464C20.0395 9.44725 19.9143 8.98116 19.9143 8.46638C19.9143 7.95159 20.0395 7.48899 20.2899 7.07855C20.5403 6.66116 20.8882 6.33768 21.3334 6.10812C21.7786 5.87159 22.2795 5.75333 22.836 5.75333C23.3925 5.75333 23.8934 5.87159 24.3386 6.10812C24.7838 6.33768 25.1316 6.66116 25.3821 7.07855C25.6325 7.48899 25.7577 7.95159 25.7577 8.46638C25.7577 8.98116 25.6325 9.44725 25.3821 9.86464C25.1316 10.2751 24.7838 10.5986 24.3386 10.8351C23.8934 11.0646 23.3925 11.1794 22.836 11.1794ZM22.836 9.35333C23.0864 9.35333 23.2951 9.26986 23.4621 9.1029C23.636 8.92899 23.7229 8.71681 23.7229 8.46638C23.7229 8.21594 23.636 8.00725 23.4621 7.84029C23.2951 7.66638 23.0864 7.57942 22.836 7.57942C22.5856 7.57942 22.3734 7.66638 22.1995 7.84029C22.0325 8.00725 21.949 8.21594 21.949 8.46638C21.949 8.71681 22.0325 8.92899 22.1995 9.1029C22.3734 9.26986 22.5856 9.35333 22.836 9.35333ZM27.7182 11.1794C27.3356 11.1794 26.9913 11.0646 26.6852 10.8351C26.3791 10.5986 26.1391 10.2751 25.9652 9.86464C25.7913 9.44725 25.7043 8.98116 25.7043 8.46638C25.7043 7.95159 25.7913 7.48899 25.9652 7.07855C26.1391 6.66116 26.3791 6.33768 26.6852 6.10812C26.9913 5.87159 27.3356 5.75333 27.7182 5.75333C28.1565 5.75333 28.5322 5.94116 28.8452 6.31681C29.1582 6.68551 29.3635 7.17246 29.4609 7.77768V3.66638H31.4435V11.0751H29.4609V9.15507C29.3635 9.76029 29.1582 10.2507 28.8452 10.6264C28.5322 10.9951 28.1565 11.1794 27.7182 11.1794ZM28.6261 9.35333C28.8765 9.35333 29.0852 9.26986 29.2522 9.1029C29.4261 8.92899 29.513 8.71681 29.513 8.46638C29.513 8.21594 29.4261 8.00725 29.2522 7.84029C29.0852 7.66638 28.8765 7.57942 28.6261 7.57942C28.3756 7.57942 28.1635 7.66638 27.9896 7.84029C27.8226 8.00725 27.7391 8.21594 27.7391 8.46638C27.7391 8.71681 27.8226 8.92899 27.9896 9.1029C28.1635 9.26986 28.3756 9.35333 28.6261 9.35333ZM34.6301 11.1794C34.0736 11.1794 33.5728 11.0646 33.1275 10.8351C32.6823 10.5986 32.3345 10.2751 32.0841 9.86464C31.8336 9.44725 31.7084 8.98116 31.7084 8.46638C31.7084 7.95159 31.8336 7.48899 32.0841 7.07855C32.3345 6.66116 32.6823 6.33768 33.1275 6.10812C33.5728 5.87159 34.0736 5.75333 34.6301 5.75333C35.1867 5.75333 35.6875 5.87159 36.1328 6.10812C36.578 6.33768 36.9258 6.66116 37.1762 7.07855C37.4267 7.48899 37.5519 7.95159 37.5519 8.46638C37.5519 8.98116 37.4267 9.44725 37.1762 9.86464C36.9258 10.2751 36.578 10.5986 36.1328 10.8351C35.6875 11.0646 35.1867 11.1794 34.6301 11.1794ZM34.6301 9.35333C34.8806 9.35333 35.0893 9.26986 35.2562 9.1029C35.4301 8.92899 35.5171 8.71681 35.5171 8.46638C35.5171 8.21594 35.4301 8.00725 35.2562 7.84029C35.0893 7.66638 34.8806 7.57942 34.6301 7.57942C34.3797 7.57942 34.1675 7.66638 33.9936 7.84029C33.8267 8.00725 33.7432 8.21594 33.7432 8.46638C33.7432 8.71681 33.8267 8.92899 33.9936 9.1029C34.1675 9.26986 34.3797 9.35333 34.6301 9.35333ZM37.814 11.0751V5.85768H39.7966V7.6942C39.9009 6.40029 40.4679 5.75333 41.4975 5.75333C42.0818 5.75333 42.5096 5.92725 42.7809 6.27507C43.0522 6.6229 43.2018 7.11333 43.2296 7.74638C43.2783 7.10638 43.4314 6.61594 43.6888 6.27507C43.9531 5.92725 44.374 5.75333 44.9514 5.75333C45.4175 5.75333 45.7757 5.84377 46.0262 6.02464C46.2766 6.20551 46.447 6.45942 46.5375 6.78638C46.6349 7.10638 46.6835 7.51681 46.6835 8.01768V11.0751H44.6801V8.35159C44.6731 8.12899 44.6001 7.94812 44.4609 7.80899C44.3288 7.6629 44.1618 7.58986 43.9601 7.58986C43.7514 7.58986 43.5775 7.6629 43.4383 7.80899C43.3062 7.94812 43.2401 8.12899 43.2401 8.35159V11.0751H41.2366V8.35159C41.2296 8.12899 41.1566 7.94812 41.0175 7.80899C40.8853 7.6629 40.7183 7.58986 40.5166 7.58986C40.3079 7.58986 40.134 7.6629 39.9949 7.80899C39.8627 7.94812 39.7966 8.12899 39.7966 8.35159V11.0751H37.814ZM49.245 11.0751H47.2624V5.85768H49.245V11.0751ZM48.3058 5.38812H48.2015L47.0015 3.30116H49.5058L48.3058 5.38812ZM49.924 11.0751V5.85768H51.9066V7.76725C51.9693 7.21768 52.1432 6.74464 52.4284 6.34812C52.7136 5.95159 53.1136 5.75333 53.6284 5.75333C54.1571 5.75333 54.5362 5.92377 54.7658 6.26464C55.0023 6.59855 55.1206 7.1029 55.1206 7.77768V8.4142H53.1379V8.19507C53.1379 8.00725 53.0858 7.86464 52.9814 7.76725C52.8771 7.6629 52.7449 7.61073 52.5849 7.61073C52.3762 7.61073 52.2093 7.68377 52.084 7.82986C51.9658 7.96899 51.9066 8.15333 51.9066 8.3829V11.0751H49.924ZM55.9526 11.2003C55.5839 11.2003 55.2743 11.0751 55.0239 10.8246C54.7734 10.5742 54.6482 10.2646 54.6482 9.89594C54.6482 9.52725 54.7734 9.21768 55.0239 8.96725C55.2743 8.71681 55.5839 8.59159 55.9526 8.59159C56.3213 8.59159 56.6308 8.71681 56.8813 8.96725C57.1317 9.21768 57.2569 9.52725 57.2569 9.89594C57.2569 10.2646 57.1317 10.5742 56.8813 10.8246C56.6308 11.0751 56.3213 11.2003 55.9526 11.2003ZM59.2692 11.1794C58.8866 11.1794 58.5422 11.0646 58.2362 10.8351C57.9301 10.5986 57.6901 10.2751 57.5162 9.86464C57.3422 9.44725 57.2553 8.98116 57.2553 8.46638C57.2553 7.95159 57.3422 7.48899 57.5162 7.07855C57.6901 6.66116 57.9301 6.33768 58.2362 6.10812C58.5422 5.87159 58.8866 5.75333 59.2692 5.75333C59.7075 5.75333 60.0831 5.94116 60.3962 6.31681C60.7092 6.68551 60.9144 7.17246 61.0118 7.77768V3.66638H62.9944V11.0751H61.0118V9.15507C60.9144 9.76029 60.7092 10.2507 60.3962 10.6264C60.0831 10.9951 59.7075 11.1794 59.2692 11.1794ZM60.177 9.35333C60.4275 9.35333 60.6362 9.26986 60.8031 9.1029C60.977 8.92899 61.064 8.71681 61.064 8.46638C61.064 8.21594 60.977 8.00725 60.8031 7.84029C60.6362 7.66638 60.4275 7.57942 60.177 7.57942C59.9266 7.57942 59.7144 7.66638 59.5405 7.84029C59.3735 8.00725 59.2901 8.21594 59.2901 8.46638C59.2901 8.71681 59.3735 8.92899 59.5405 9.1029C59.7144 9.26986 59.9266 9.35333 60.177 9.35333ZM66.1394 11.1794C65.5968 11.1794 65.1063 11.0681 64.6681 10.8455C64.2298 10.6159 63.8855 10.3029 63.635 9.90638C63.3846 9.5029 63.2594 9.04377 63.2594 8.52899C63.2594 7.98638 63.3846 7.50638 63.635 7.08899C63.8924 6.66464 64.2402 6.33768 64.6785 6.10812C65.1237 5.87159 65.6141 5.75333 66.1498 5.75333C66.6855 5.75333 67.1655 5.86812 67.5898 6.09768C68.0211 6.32725 68.3585 6.65072 68.602 7.06812C68.8455 7.47855 68.9672 7.94812 68.9672 8.47681V8.57073H65.2211C65.2489 8.8142 65.3498 9.01942 65.5237 9.18638C65.6976 9.34638 65.9063 9.42638 66.1498 9.42638C66.2681 9.42638 66.3794 9.41246 66.4837 9.38464C66.5881 9.34986 66.6646 9.30464 66.7133 9.24899H68.842C68.835 9.5342 68.7202 9.82638 68.4976 10.1255C68.282 10.4246 67.9689 10.6751 67.5585 10.8768C67.155 11.0786 66.682 11.1794 66.1394 11.1794ZM67.1098 8.36203C67.0959 8.11855 66.9985 7.91681 66.8176 7.75681C66.6437 7.59681 66.4281 7.51681 66.1707 7.51681C65.9202 7.51681 65.7046 7.59681 65.5237 7.75681C65.3498 7.91681 65.2524 8.11855 65.2315 8.36203H67.1098ZM73.0028 11.0751H70.2898L68.4115 5.85768H70.4985L71.6046 9.36377H71.7298L72.8359 5.85768H74.8811L73.0028 11.0751Z"
      />
    </svg>
  </header>
  <div class="links">
    <address>
      <h1>{footer.social_media_label}</h1>
      <ul>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
        <li><a href="https://www.linkedin.com/in/todomir">Linkedin</a></li>
        <li><a href="https://www.github.com/Todomir">Github</a></li>
      </ul>
    </address>
    <address>
      <h1>{footer.contact_label}</h1>
      <ul>
        <li><a href="https://www.instagram.com/">Whatsapp</a></li>
        <li><a href="https://www.github.com/Todomir">Telegram</a></li>
        <li><a href="https://www.linkedin.com/in/todomir">E-mail</a></li>
      </ul>
    </address>
  </div>
  <div class="bottom">
    <span>{footer.credits}</span>
    <a href="https://www.github.com/Todomir">Sitemap</a>
  </div>
</footer>

<style lang="scss">
  footer {
    --font-size: 1.6rem;
    --max-width: 84.2rem;

    background-color: var(--color-primary);
    color: var(--color-white);

    font-size: var(--font-size);

    padding-block: 4.4rem 8rem;
    padding-inline: 5.4rem;

    header {
      max-width: var(--max-width);
      margin: 0 auto;
      text-align: center;

      margin-bottom: 3rem;

      svg {
        --logo-width: 12.4rem;
        fill: var(--color-white);
				width: var(--logo-width);
      }
    }

    a {
      --font-weight: 400;
      color: var(--color-white);
      text-decoration: underline;
    }

    .links {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      justify-items: center;
      row-gap: 3rem;

      max-width: var(--max-width);
      margin: 0 auto;

      padding-block: 3rem;

      border-top: 1px solid var(--color-secondary);
      border-bottom: 1px solid var(--color-secondary);
    }

    address {
      display: flex;
      flex-direction: column;
      gap: 12px;

      text-align: center;
      font-style: normal;

      h1 {
        --font-weight: 800;
        --font-contrast: 600;

        font-size: var(--font-size);
        font-weight: bold;
      }

      ul {
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 12px;

        li {
          font-size: var(--font-size);
        }
      }
    }

    .bottom {
      --font-weight: 600;

      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      line-height: 1.5;

      max-width: var(--max-width);
      margin: 3rem auto 0 auto;
      text-align: center;
    }
  }
</style>

