---
import prismicDom from 'prismic-dom'
const { slice } = Astro.props
---

<section>
  <article>
    {prismicDom.RichText.asHtml(slice.title)}
    {prismicDom.RichText.asHtml(slice.paragraph)}
    <footer>
      <a href="#contact" class="btn btn-dark">{slice.button_label}</a>
    </footer>
  </article>
</section>

<style lang="scss">
  section {
    color: var(--color-white);
    position: relative;

    --subheading-padding: clamp(12rem, 4.3028rem + 18.5923vw, 40rem);

    padding-block: var(--subheading-padding);

    &:before {
      content: '';

      position: absolute;
      inset: 0;
      z-index: -1;

      width: calc(100% + (var(--body-padding) * 2));
      margin-left: calc(-1 * var(--body-padding));

      background: var(--color-primary);

      clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    } 

    article {
      max-width: 84.3rem;
	    margin: 0 auto;

      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin-block-end: clamp(2.4rem, 1.8502rem + 1.3280vw, 4.4rem);
      }
    
      footer {
        margin-block-start: clamp(3.6rem, 2.8303rem + 1.8592vw, 6.4rem);

        display: flex;
        flex-direction: column;
        gap: 0.5em;

        button {
          --background-color: var(--color-primary);
        }

        @media (min-width: 390px) {
          flex-direction: row;
        }
      }
    }
  }
</style>