.img {
  --size: clamp(29rem, 27.5581rem + 7.2093vw, 41.4rem);

  width: 100%;
  height: var(--size);

  object-fit: cover;
  object-position: center;
}

.alpha {
  border-radius: 2rem 2rem 10rem 1rem;
}

.beta {
  border-radius: 14.5rem 2rem 14.5rem 2rem;
}

.kappa {
  border-radius: 14.5rem 14.5rem 2rem 2rem;
}
