---
  import prismicDom from 'prismic-dom'
  import { serializer } from '../lib/prismic.js'
  const { content } = Astro.props

  const header = prismicDom.RichText.asHtml(content.title, null, serializer)
  const paragraph = prismicDom.RichText.asHtml(content.paragraph, null, serializer)
---

<section>
  {header}
  {paragraph}
  <footer>
    <a class="btn btn-primary" href="#contact">{content.primary_cta}</a>
    <a class="btn btn-secondary" href="/work">{content.secondary_cta}</a>
  </footer>
</section>

<style lang="scss">
  section {
    --header-padding-end: clamp(13.2rem, 6.5199rem + 16.1355vw, 37.5rem);

    max-width: 95.3rem;    
    margin: 0 auto;

    padding-block-end: var(--header-padding-end);

    :global(.hero-paragraph) {
      max-width: 71.9rem;
      margin-block-end: clamp(3.6rem, 2.8303rem + 1.8592vw, 6.4rem);

      strong {
        color: var(--color-primary);
      }
    }
  
    footer {
      display: flex;
      flex-direction: column;
      gap: 1em;

      @media (min-width: 616px) {
        flex-direction: row;
      }
    }

  }
</style>